@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #A1683A; }

.nav__ {
  background-color: #4a7017; }

.Titulo__ {
  width: 100%;
  height: 350px; }
  .Titulo__ img {
    width: 100%;
    height: 350px; }

.Contenedor {
  margin-top: 10px;
  width: 100%;
  height: 250px;
  align-content: center;
  background-color: #E2C044; }
  .Contenedor img {
    width: 100%;
    height: 250px; }
  .Contenedor .boton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E152A;
    text-decoration: none;
    border: #4a7017 solid 2px;
    transition: all 1.5s ease;
    font-size: 18px; }

.Camping {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Camping h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Camping p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Hospedaje {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Hospedaje h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Hospedaje p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Cantina {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Cantina h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Cantina p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Ubicación {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Ubicación h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Ubicación p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.carousel__ {
  width: 100%;
  height: 400px;
  padding: 15px; }
  .carousel__ img {
    width: 100%;
    height: 100%; }

.Camping__ div {
  width: 100%;
  height: 450px; }
  .Camping__ div img {
    width: 100%;
    height: 450px; }

.Contenedor__Camping {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Contenedor__Camping div img {
    width: 100%;
    height: 300px; }
  .Contenedor__Camping h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Contenedor__Camping p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Hospedajes h2 {
  font-family: 'Phudu', cursive; }

.Hospedajes div div img {
  width: 200px;
  height: 200px; }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  margin-top: 10vh; }
  footer .redes ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }
    footer .redes ul li {
      margin-right: 10px; }
      footer .redes ul li a {
        color: #fff;
        text-decoration: none; }
  footer .copyright {
    font-size: 14px; }
