@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.cartas {
  background-color: #E2C044; }

.Nav__ {
  background-color: #4a7017; }
  .Nav__ a img {
    width: 50px;
    height: 100%; }

.Titulo__ {
  width: 100%;
  height: 450px; }
  .Titulo__ h1 {
    position: absolute;
    left: 45%;
    font-family: 'Shrikhand', cursive; }
  .Titulo__ img {
    width: 100%;
    height: 100%; }

.Contenedor .row {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #E2C044; }
  .Contenedor .row img {
    width: 100%;
    height: 100%; }

.Contenedor .boton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E152A;
  text-decoration: none;
  border: #4a7017 solid 2px;
  transition: all 1.5s ease;
  font-size: 18px; }

.Contenedor .div_img {
  height: 350px; }
  .Contenedor .div_img img {
    width: 100%;
    height: 100%; }

.Camping {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Camping h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Camping p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Hospedaje {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Hospedaje h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Hospedaje p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Cantina {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Cantina h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Cantina p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Ubicación {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Ubicación h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Ubicación p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Capacidad {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Capacidad h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Capacidad p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Baños {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Baños h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Baños p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Sombra {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Sombra h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Sombra p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Asadores {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Asadores h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Asadores p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.Hsimple {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Hsimple h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Hsimple p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.HMchica {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .HMchica h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .HMchica p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.HMgrande {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .HMgrande h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .HMgrande p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.HMdoble {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .HMdoble h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .HMdoble p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.carousel__ {
  width: 100%;
  height: 400px;
  padding: 15px; }
  .carousel__ img {
    width: 100%;
    height: 100%; }

.Camping__ div {
  width: 100%;
  height: 450px; }
  .Camping__ div img {
    width: 100%;
    height: 450px; }

.Hospedajes {
  margin-bottom: 50px; }
  .Hospedajes h2 {
    font-family: 'Phudu', cursive; }
  .Hospedajes div {
    justify-items: center; }
    .Hospedajes div div img {
      width: 200px;
      height: 200px; }

.Contenedor__Hospedajes {
  margin-bottom: 50px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Contenedor__Hospedajes div img {
    width: 100%;
    height: 400px; }
  .Contenedor__Hospedajes h2 {
    text-align: center;
    font-family: 'Phudu', cursive; }
  .Contenedor__Hospedajes p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

.contacto {
  background-color: #E2C044;
  padding-left: 50px;
  border: #4a7017 solid 5px;
  margin-top: 50px; }
  .contacto .contacto__container {
    height: auto; }
  .contacto .contacto__icon {
    width: 20%; }

.Cantina__ {
  background-color: #E2C044;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .Cantina__ img {
    width: 65%;
    height: 500px;
    display: block; }
  .Cantina__ h2 {
    padding: 1rem;
    margin-top: 30px;
    display: block; }

.Cantina__Menu {
  margin-top: 50px; }
  .Cantina__Menu h1 {
    text-align: center; }

.Menu__ {
  background-color: #643f21;
  margin-bottom: 30px; }

footer {
  background-color: #1E152A;
  margin-top: 10vh;
  display: flex; }
  footer .redes h3 {
    color: #E2C044;
    display: block; }
  footer .redes img {
    width: 30px; }
  footer .redes p {
    color: #E2C044; }
