*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$navbar:#4a7017;
$body:#A1683A;
$boton:#1E152A;


body{
    background-color: #A1683A;
}
.nav__{
background-color:$navbar;


}
.Titulo__{
    height: 300px;
    img{
        height: 300px;
        width: 100%;
    }
}
.Contenedor{
    margin-top: 10px;
    height: 250px;
    width: 100%;
        img{
            height: 250px;
            width: 100%;
            }
        .boton{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $boton;
            text-decoration: none;
            border:$navbar solid 2px;
            transition: all 1.5s ease;
            font-size: 18px;}}