*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$navbar:#4a7017;
$body:#A1683A;
$boton:#1E152A;
$section:#E2C044;

@mixin Tamaño ($width, $height) {
  height: $width;
  width: $height;
}

body{
    background-color: $body;
}
.nav__{
background-color:$navbar;
}
.Titulo__{
    height: 300px;
    img{
        height: 300px;
        width: 100%;
    }
}
.Contenedor{
    margin-top: 10px;
    height: 250px;
    width: 100%;
    align-content: center;
    background-color: $section;
        img{
            height: 250px;
            width: 100%;
            }
        .boton{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $boton;
            text-decoration: none;
            border:$navbar solid 2px;
            transition: all 1.5s ease;
            font-size: 18px;}}

            footer {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                background-color: #333;
                color: #fff;
                margin-top: 10vh;
                
                .redes {
                  ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    
                    li {
                      margin-right: 10px;
                      
                      a {
                        color: #fff;
                        text-decoration: none;
                      }
                    }
                  }
                }
                
                .copyright {
                  font-size: 14px;
                }}
              